@use "./globals/colors" as color;
@use "./layout/breakpoints" as u;
.App {
  // display: grid;
  background-color: color.$bg-ash;
  // grid-template-columns: repeat();
  // max-width: 72%;
  // height: 692px;
  height: 500vh;
}

.header {
  position: fixed;
  // background-color: white;

  margin: 0;
  display: flex;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 24px;
  padding-inline-start: clamp(10px, 10px + 10vw, 195px);
  padding-inline-end: clamp(10px, 10px + 10vw, 40px);
  z-index: 999;
  &__logo {
    // display: none;
    flex-basis: 50%;
    @include u.breakpoint-down("medium") {
      // display: none;
      flex-basis: 70%;
    }
    .image {
      width: 99px;
      height: 24px;
    }
  }

  &__nav-buttons {
    display: flex;
    flex-basis: 40%;
    align-self: center;
    justify-content: space-between;
    @include u.breakpoint-down("medium") {
      // display: none;
      justify-content: flex-end;
      flex-basis: 30%;
      margin-right: 20px;
    }

    &__links {
      display: flex;
      justify-content: space-between;
      flex-basis: 70%;

      color: color.$second-text-color;
      h6 {
        // display: none;
        position: relative;
        cursor: pointer;
        transition: 1s all;
        &::before {
          content: " ";
          // display: none;
          width: 0%;
          height: 2px;
          position: absolute;
          bottom: 0px;
          // left: 10px;
          background-color: color.$secondary-color-1;
          transition: 0.3s ease-in;
        }
        &:hover::before {
          // display: block;

          width: 100%;
        }
      }

      @include u.breakpoint-down("medium") {
        display: none;
      }
    }
    &__icons {
      display: flex;
      flex-basis: 20%;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer;
      // width: ;
      img {
        height: 20px;
        width: 20px;
      }
      @include u.breakpoint-down("medium") {
        // display: block;
        flex-basis: 50%;
      }
    }
  }
  .toggler {
    cursor: pointer;
    img {
      height: 20px;
      width: 20px;
    }
  }
}
.hero-content {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;

  &__text {
    display: grid;
    text-align: center;
    justify-items: center;
    align-items: center;
    gap: 40px;
    // flex-direction: column;
    // width: 80%;

    h1 {
      color: color.$text-color-heading;
      width: 60%;
      span {
        position: relative;
        background: color.$gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        img {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
        }
      }
    }
    h4 {
      width: 65%;
      color: color.$second-text-color;
      font-weight: 400;
    }
  }
  &__buttons {
    button {
      margin-right: 10px;
    }
  }
}

.why {
  background-color: white;
  // display: flex;
  padding-top: 145px;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;

    text-align: center;

    h2 {
      margin-bottom: 10px;
      color: color.$text-color-heading;
    }

    h6 {
      color: color.$second-text-color;
      width: 70%;
    }

    span {
      position: relative;
      color: color.$primary-color;
      &::before {
        content: " ";
        display: inline-block;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0px;
        // left: 10px;
        background-color: color.$secondary-color-1;
      }
    }
  }

  &__feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    max-width: 80%;
    justify-content: center;
    margin-inline: auto;
    padding-bottom: 120px;
    @include u.breakpoint-down("medium") {
      grid-template-columns: auto auto;
    }
    @include u.breakpoint-down("small") {
      grid-template-columns: auto;
    }
  }
}

.services {
  display: grid;
  position: relative;
  height: 100vh;
  background-color: color.$bg-ash;
  padding-top: clamp(45px, 1rem + 5vw, 80px);
  gap: 0px;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-bottom: 45px;
    text-align: center;

    h2 {
      margin-bottom: 10px;
      color: color.$text-color-heading;
      width: 70%;
    }

    h6 {
      color: color.$second-text-color;
      width: 60%;
    }
  }

  .video {
    position: absolute;
    top: 250px;
    z-index: 2;
    width: 60%;
    height: 55%;
    margin-inline: auto;
    left: 20%;

    iframe {
      position: relative;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }
  }

  //add either grids to the whole content in the services section or, find a way to make the description content not be clipped by video
  &__green-bar {
    position: absolute;
    bottom: 0px;
    // z-index: 999;
    height: 40%;
    width: 100%;
    background-color: color.$secondary-color-2;
    padding: 30px;
  }
}
.testimonials {
  background-color: color.$bg-ash;
  padding-top: 80px;
  padding-bottom: 100px;
  gap: 0px;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-bottom: 45px;
    text-align: center;

    h2 {
      margin-bottom: 10px;
      color: color.$text-color-heading;
      width: 70%;
    }

    h6 {
      color: color.$second-text-color;
      width: 60%;
    }
  }
  &__cards {
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    margin-top: 80px;
    margin-inline: auto;

    @include u.breakpoint-down("medium") {
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
      gap: 30px;
    }
  }
}

.team {
  background-color: color.$bg-white;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    // margin-bottom: 45px;
    text-align: center;

    h2 {
      margin-bottom: 10px;
      color: color.$text-color-heading;
      width: 70%;
    }

    h6 {
      color: color.$second-text-color;
      width: 60%;
    }
  }

  &__cards {
    display: flex;
    max-width: 80%;
    margin-top: 80px;
    margin-inline: auto;
    justify-content: space-around;

    @include u.breakpoint-down("medium") {
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
      gap: 30px;
    }
  }
}
