@use "./globals/colors" as color;
@use "./layout/breakpoints" as u;

.founder {
  height: 373px;
  //   width: px;
  border: 1px solid #eeee;
  display: grid;

  &__content {
    &__info {
      display: grid;
      justify-content: center;
      width: 100%;
      padding: 30px;
      gap: 5px;

      h5 {
        text-align: center;
        color: color.$text-color-heading;
      }

      h6 {
        //   width: 100%;
        color: color.$second-text-color;
        text-align: center;
      }

      &__social-links {
        // width: 102px;
        gap: 16px;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
