// :root {
//   --background-color: hsl(0, 0%, 11%);
//   --color: hsl(0, 0%, 100%);
// }

$bg-ash: #fafafa;
$text-color-heading: #252b42;
$gradient: linear-gradient(-90deg, #d71489, #004788);
$second-text-color: #737373;
$primary-color: #ffa62b;
$secondary-color-1: #00a0c1;
$light-text-color: #ffff;
$outline-color: #e8e8e8;
