.button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  height: 48px;
  padding: 10px 36px;
  margin: none;
}
.button.primary {
  background-color: #ffa62b;
  color: white;
  border-radius: 37px;
}
.button.secondary {
  border: 1px solid #00a0c1;
  background-color: transparent;
  border-radius: 37px;
  color: #00a0c1;
}
.button.secondary:hover {
  background-color: #00a0c1;
  color: white;
}
